*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: monospace;
}

b{
    color:white;
}

p{
    font-size:20px;
    color:#d4d4d4;
    text-align: justify;
}

body{
    margin:0 auto;
    background-color:rgb(20, 20, 20);
}

body::-webkit-scrollbar {
    display:none;
  }

a{text-decoration:none;}
.menu_items{
    list-style:none;
    display:flex;
    align-items:center;
}

.menu {
    width: 950px;
    margin-top: 40px;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.menu_items {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu_item {
    position: relative; 
}

.menu_item_link {
    color: white;
    text-decoration: none;
    display: block; 
}

.menu_item_link:hover {
    color: lightgray;
}

.hidden-div {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    border-radius: 5px;
    z-index: 10;
    border-radius: 10px; 
}

.hidden-div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu_item {
    background-color: rgba(70, 70, 70, 1);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px; 
    font-size: 13px;
    color: white; 
    text-transform: uppercase;
    cursor: pointer; 
}

.submenu_item_link{
    text-decoration: none;
    color:white;
}

.menu_impresa:hover{
    background-color: rgb(0, 136, 255);
    box-shadow: 0 0 1px rgb(0, 136, 255),
                0 0 2px rgb(0, 136, 255),
                0 0 3px rgb(0, 136, 255),
                0 0 4px rgb(0, 136, 255);

    color:#000000;
    filter: hue-rotate(335deg);   
}

.menu_gestione:hover{
    background-color: rgb(0, 136, 255); 
    box-shadow: 0 0 1px rgb(0, 136, 255),
                0 0 2px rgb(0, 136, 255),
                0 0 3px rgb(0, 136, 255),
                0 0 4px rgb(0, 136, 255);

    color:#000000;
    filter: hue-rotate(340deg);   
}

.menu_leader:hover{
    background-color: rgb(0, 136, 255); 
    box-shadow: 0 0 1px rgb(0, 136, 255),
                0 0 2px rgb(0, 136, 255),
                0 0 3px rgb(0, 136, 255),
                0 0 4px rgb(0, 136, 255);

    color:#000000;
    filter: hue-rotate(340deg);   
}

.menu_stellantis:hover {
    background-color: rgb(0, 136, 255); 
    box-shadow: 0 0 1px rgb(0, 136, 255),
                0 0 2px rgb(0, 136, 255),
                0 0 3px rgb(0, 136, 255),
                0 0 4px rgb(0, 136, 255);

    color:#000000;
    filter: hue-rotate(340deg);
}

.menu_item:hover .hidden-div {
    display: block;
}
.menu_link,
.menu_item_link{
    position: relative;
    display:block;
    padding: 20px 30px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
}
.menu_item_link:hover,
.menu_link:hover{
    background-color: rgb(0, 136, 255);
    color: #050801;
    box-shadow: 0 0 2px rgb(0, 136, 255),
                0 0 5px rgb(0, 136, 255),
                0 0 40px rgb(0, 136, 255),
                0 0 60px rgb(0, 136, 255);
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
.menu_item_link:first-child,
.menu_link:first-child{
    filter: hue-rotate(335deg);
}
.menu_item:nth-child(1),
.menu_items:nth-child(1){
    filter: hue-rotate(145deg);
}
.menu_item:nth-child(2),
.menu_items:nth-child(2){
    filter: hue-rotate(25deg);
}
.menu_item:nth-child(3),
.menu_items:nth-child(3){
    filter: hue-rotate(180deg);
}
.menu_item:nth-child(4),
.menu_items:nth-child(4){
    filter: hue-rotate(305deg);
}
#scroll{
    top:0;
    right:0;
    background:rgb(0, 136, 255);
    filter:hue-rotate(150deg);
    width:5px;
    height:100%;
    position:fixed;
    box-shadow: 0 0 10px #03e9f4,
                0 0 20px#03e9f4,
                0 0 40px #03e9f4;
    border-radius:10px;
}
h1{
    font-size:36px;
    font-weight:bold;
    color:white;
}
.content{
    width:100%;
    height: 85%;
    position:absolute;
    bottom: 0px;
    background-color: transparent;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow-y: auto;
}
.row{
    display:flex;
    width:80%;
    margin:100px 0;
}
.image{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.image img{
    max-width:80%;
    height:auto;
    border-radius:10px;
}
.text{
    width: 50%;
    padding: 20px;
}
.left{
    order:1;
    text-align:left;
}
.right{
    order:2;
    text-align:right;
}
.text h2{
    font-size:28px;
    font-weight:bold;
    margin-bottom:15px;
    color:rgb(0, 136, 255);
    filter:hue-rotate(150deg);
}
.text p{
    font-size: 18px;
}
