*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: monospace;
}

b{
    color:white;
}

p{
    font-size:20px;
    color:#8e8e8e;
    text-align: justify;
}

body{
    margin:0 auto;
    background-color:rgb(20, 20, 20);
}

body::-webkit-scrollbar {
    display:none;
  }

a{text-decoration:none;}
.menu_items{
    list-style:none;
    display:flex;
    align-items:center;
}

.menu {
    width: 950px;
    margin-top: 40px;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 0;

    right: 13.75%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.menu_items {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu_item {
    position: relative; 
}

.menu_item_link {
    color: white;
    text-decoration: none;
    display: block; 
}

.menu_item_link:hover {
    color: lightgray;
}

.hidden-div {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    border-radius: 5px;
    z-index: 10;
    border-radius: 10px; 
}

.hidden-div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
    padding: 0 20px;
}

.submenu_item {
    background-color: rgba(70, 70, 70, 1);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px; 
    font-size: 13px;
    color: white; 
    text-transform: uppercase;
    cursor: pointer; 
    cursor: pointer;
}

.submenu_item_link{
    text-decoration: none;
    color:white;
}

.menu_impresa:hover{
    background-color: rgb(0, 136, 255);
    box-shadow: 0 0 1px rgb(0, 136, 255),
                0 0 2px rgb(0, 136, 255),
                0 0 3px rgb(0, 136, 255),
                0 0 4px rgb(0, 136, 255);

    color:#000000;

}

.menu_gestione:hover{
    background-color: rgb(0, 136, 255); 
    box-shadow: 0 0 1px rgb(0, 136, 255),
                0 0 2px rgb(0, 136, 255),
                0 0 3px rgb(0, 136, 255),
                0 0 4px rgb(0, 136, 255);

    color:#000000;

}



.menu_leader:hover{
    background-color: rgb(0, 136, 255); 
    box-shadow: 0 0 1px rgb(0, 136, 255),
                0 0 2px rgb(0, 136, 255),
                0 0 3px rgb(0, 136, 255),
                0 0 4px rgb(0, 136, 255);

    color:#000000;
}

.menu_stellantis:hover {
    background-color: rgb(0, 136, 255); 
    box-shadow: 0 0 1px rgb(0, 136, 255),
                0 0 2px rgb(0, 136, 255),
                0 0 3px rgb(0, 136, 255),
                0 0 4px rgb(0, 136, 255);

    color:#000000;
}

.menu_item:hover .hidden-div {
    display: block;
}

.menu_link_div{
    width: 150px;
    margin-top: 40px;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left:11%;
}

.menu_link,
.menu_item_link{
    position: relative;
    display:block;
    padding: 20px 30px;

    border: none;
    background-color: transparent;
    background-color: none;
    cursor: pointer;
    
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
}

.menu_item_link:hover,
.menu_link:hover, .menu_link_div:hover{
    border: none;
    background-color: rgb(0, 136, 255);
    color: #050801;
    box-shadow: 0 0 2px rgb(0, 136, 255),
                0 0 5px rgb(0, 136, 255),
                0 0 40px rgb(0, 136, 255),
                0 0 60px rgb(0, 136, 255);
}

h1{
    font-size:36px;
    font-weight:bold;
    color:white;
}

.content{
    width:100%;
    height: 85%;
    position:absolute;
    bottom: 0px;
    background-color: transparent;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow: scroll;
    scrollbar-width: none;
}

.content::-webkit-scrollbar{
    display: none;
}


.row{
    display:flex;
    width:80%;
    margin:100px 0;
}
.image{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.image img{
    max-width:80%;
    height:auto;
    border-radius:10px;
}
.text{
    width: 50%;
    padding: 20px;
}
.left{
    order:1;
    text-align:left;
}
.right{
    order:2;
    text-align:right;
}

.text h2{
    font-size:28px;
    font-weight:bold;
    margin-bottom:15px;
    color:rgb(0, 136, 255);
    filter:hue-rotate(150deg);
}
.text p{
    font-size: 18px;
}

.text.left, .image.right, .text.right, .image.left {
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


.text.left, .image.left {
    transform: translateX(-100%);
}

.image.right, .text.right {
    transform: translateX(100%);
}

.text.left.visible, .image.right.visible,
.text.right.visible, .image.left.visible {
    opacity: 1;
    transform: translateX(0);
}


.btn{
    width:70px;
    height: 70px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
    border-radius: 10px;
    border: none;
}

.btn:hover{
    background-color: rgb(0, 136, 255);
    color: #050801;
    box-shadow: 0 0 2px rgb(0, 136, 255),
                0 0 5px rgb(0, 136, 255),
                0 0 10px rgb(0, 136, 255),
                0 0 20px rgb(0, 136, 255);
}

